#icon{
    float:right;
    margin: 0%;
}
.icon_fix{
    width:20%;
    border: solid 4px black;
    margin-right:4%; 
}
h1{
    text-align: center;
    color:#c32d46 ;
    font-family: 'Lato', sans-serif;
}