<app-header></app-header>
<div id="content">
  <div id="scanHead">
    <div id="Title">
      <h1>Scan Book</h1>
    </div>
    <div id="UserDet">
      <p><label>Name: </label>{{details.name}}</p>
      <p><label>Matriculation Number: </label>{{details.matriculaiton}}</p>
    </div>
  </div>
  <br>
  <div id="break"></div>
  <img src="../../../assets/img/scan.jpg" alt="Scan graphic" id="graphic"/>
  <div id="foot">
    <div id="button">
        <a routerLink="/menu" routerLinkActive="active">
          <button id="back">
           Back
          </button>
        </a>
      </div>
       <h2>Scan the book</h2>
  </div>
</div>
