<table>
    <tr class="row">
      <th>
       Title
      </th>
      <th>
       Due Date
      </th>
      <th>
       Fine
      </th>
      <th>
        Select book to return
      </th>
    </tr>
    <tr class="row" *ngFor="let loan of loans">
      <td>
        {{loan.title}}
      </td>
      <td>
        {{loan.date}}
      </td>
      <td>
        {{loan.fine}}
      </td>
      <td class="center">
        <input type="checkbox" name = {{loan.id}} value = {{loan.id}}/>
      </td>
    </tr>
   </table>
   