#icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:25%;
}
.input{
    background-color:#333333;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    color:#ffffff;
    border: 2px solid #69577D;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 25px;
    text-align: center;
}
#login{
    background-color:#333333;
    color:#ffffff;
    border: 2px solid #c32d46;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 25px;
    text-align: center;
}
#LoginInterface{
   width: 50%;
   margin-left: auto;
   margin-right: auto;
}