<div id="content">
  <app-header></app-header>
  <img src="../../../assets/img/userIcon.png" alt="user icon image" id="icon"/>
  <br>
  <div id="LoginInterface">
    <input type="text" id="userID" name="userID" placeholder="User ID" class="input">
    <br>
    <input type="password" id="password" name="password" placeholder="Password" class="input">
    <br>
    <input type="button" id="login" name="login" value="login">
    <br>
  </div>
  <div>
  <a routerLink="/menu" routerLinkActive="active">
    <button id="back">
     Back
    </button>
  </a>
  </div>
</div>
