table{
    width:90%;
margin:auto;
border: 1px solid black !important;
text-align: center;
border-collapse: collapse;
font-family: 'Lato', sans-serif;
text-decoration: none;
}

tr, td{
    border: 1px solid black !important;
    text-align: center;
}
