<app-header></app-header>
<div id="content">
    <div id="scanHead">
        <div id="Title">
            <h1>Return Book</h1>
        </div>
        <div id="UserDet">
            <p><label>Name: </label>Guest</p>
             <p><label>Matriculation Number: </label>00000001</p>
        </div>
    </div>
    <div id="break"></div>
    <img src="../../../assets/img/return.jpg" alt="Putting the book in the bin" id="ReturnIMG"/>
    <div id="foot">
            <div class="button">
                <a routerLink="/menu" routerLinkActive="active">
                  <button id="back">
                   Back
                  </button>
                </a>
              </div>
              <div class="button" id="returnBook">
                    <a routerLink="/menu" routerLinkActive="active">
                      <button id="return">
                      Finish
                      </button>
                    </a>
                  </div>
          </div>
</div>

