<p>
  <app-header></app-header>
</p>

  <div id="leftcol">
    <!--<a routerLink="/borrow" routerLinkActive="active">-->
   <div class="option purple">
     <h2>Borrow Book</h2>
    <img src="../../../assets/img/book.png" alt="img for borrow" class="small"/>
   </div>
  <!--</a>-->
   <br>
  <!-- <a routerLink="/return" routerLinkActive="active">-->
   <div class="option magenta">
     <h2>View Borrowed</h2>
    <img src="../../../assets/img/closed.png" alt="img for view"/>
   </div>
  </div>
<!--</a>-->
<div id="rightcol">
   <!-- <a routerLink="/loaned" routerLinkActive="active">-->
   <div class="option magenta ">
      <h2>Return book</h2>
      <img src="../../../assets/img/shelf.png" alt="img for return"/>
   </div>
   <!-- </a>-->
   <br>
  <!-- <a routerLink="/login" routerLinkActive="active">-->
   <div class="option purple">
      <h2>Login</h2>
    <img src="../../../assets/img/key.png" alt="img for login" class="small"/>
   </div>
  <!-- </a>-->
</div>
<br>
<router-outlet></router-outlet>