<app-header></app-header>
<div id="content">
    <div id="scanHead">
        <div id="Title">
             <h1>Return Book</h1>
        </div>
        <div id="UserDet">
            <p><label>Name: </label>Guest</p>
            <p><label>Matriculation Number: </label>00000001</p>
        </div>
    </div>
    <div class="gap"></div>
    <app-return-module></app-return-module>
    <div id="foot">
            <div class="button">
                <a routerLink="/menu" routerLinkActive="active">
                  <button id="back">
                   Back
                  </button>
                </a>
              </div>
        </div>
</div>
